html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    
        scroll-behavior: smooth;
      
      
}

html {
    background-color: black;
}
html, body {
    height: 100%;
  }